<settings>
    <setting id="debug" type="bool" label="30017" default="false"/>
    <setting id="browser" enable="false" type="enum" label="31000" lvalues="31001|31002|31003|310014" default="0"/>

    <setting id="useKiosk" type="bool" label="30016" default="true"/>
    <setting id="useCustomPath" type="bool" label="30010" default="false"/>
    <setting id="customPath" type="file" label="30011" enable="eq(-1,true)" default="special://home/addons/plugin.program.chrome.launcher/browser.sh"/>

    <setting id="handleWM" type="bool" label="30018" enable="System.Platform.Linux" default="false"/>
</settings>
